In [5]:
from datascience import *
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

NZ_Rain = pd.read_csv("Rainfall_Data.csv")
NZ_Rain.head()
NZ_Rain.describe()

       agent_number  precipitation         lat         lon      anomaly
count    420.000000     420.000000  420.000000  420.000000   420.000000
mean    5656.933333     548.462619  -40.898424  173.396331    18.728770
std     7568.717254     730.971909    3.182839    2.792184   198.265942
min     1056.000000      48.000000  -46.417410  167.924060 -1083.426667
25%     2112.000000     205.550000  -44.002000  170.984280   -50.329167
50%     3812.000000     307.500000  -40.583500  174.273910     8.588333
75%     5086.000000     631.900000  -38.658600  175.662830    69.193333
max    37662.000000    8680.300000  -35.183000  177.985100  2177.740000

In [ ]:
#TO DO 1
#另一种日期排列顺序方法
import pandas as pd
import datetime
#导入数据集
data = pd.read_csv("Rainfall_Data.csv")

#标准化日期，获取时间的日月年
def change_date(date):
    date = datetime.datetime.strptime(date, "%d/%m/%Y") #把日期标准化，转化结果为 2017/1/30 转化为2017-01-30 00:00:00
    date = str(date)#上一步把date转化为时间格式，要把date转回str格式
    return date[:10] #只获取年月日，即位置10之前的字符串

data['period_start'] = data['period_start'].map(change_date) #用上面定义过的change_date函数 处理perio_start这一个事件列
data = data.sort_values(by = ['period_start', 'agent_number']) #按 period_start 和 agent_number进行升序排列
#筛选输出
data.filter(["agent_number", "site", "season", "precipitation", "period_start"])

In [2]:
#TO DO 2
#生成一个cityName数组，仅存入Aucklan 和 Hamilton两列的数据
cityName = ['Auckland', 'Hamilton']
#判断这两列的数据Auckland 和 Hamilton 是否在NZ_Rain 大数组中的 site列中存在
newList = NZ_Rain[NZ_Rain['site'].isin(cityName)]
#将以precipitation进行升序排列
newList = newList.sort_values(by= 'precipitation')
#排序后生成了一个新的newList数组，因此，不在传递NZ_Rain数组，改为传递新的newList数组
newList = newList[newList['precipitation'].between(500,999)]
#仅显示包含以下字段的数据
newList.filter(["agent_number", "site", "season", "precipitation", "period_start"])

     agent_number      site  season  precipitation period_start
37           1962  Auckland  Autumn          546.6    1/03/2017
38           2112  Hamilton  Autumn          606.3    1/03/2017
308          2112  Hamilton  Annual          853.4    1/01/2019
307          1962  Auckland  Annual          942.0    1/01/2019